
body {
   
  background-image: linear-gradient(lightblue, darkblue);
}
    padding: 0;
    margin: 0;
    font-family: 'Lato', sans-serif;
    color: #000;
}

div {
  background-color: white;
  width: 300px;
  border: 15px solid black;
  padding: 50px;
  margin: 20px;
}
