<html>
<head><link rel="stylesheet" href="static\styles.css"></head>
<body>
   <header class='masthead'>
      <p class='masthead-intro'>Hi I'm</p>
      <h1 class='masthead-heading'>Ryan</h1>
     <center> <img src="static\photo.PNG" alt="good_pic" width="300px" height="300px"></center>
    </header>
    <section class="introduction-section">
      <h1>Introduction</h1>
      <p>I am a student at Vivekanand Education Society Institute Of Technology</p>
      <p>I love studying about machine learning and deep learning</p>
    </section>
    <section class="location-section">
      <h1>Where I'm From</h1>
      <p>I'm from Mumbai, India </p>
    </section>
    <section class="questions-section">
      <h1>More About Me</h1>
      <h2>What are your favorite hobbies?</h2>
      <p>My favorite hobby is game development and working on deep learning and machine learning projects</p>
      <h2>What's your dream job?</h2>
      <p>My dream job is where i'm working in an wholesome environment. :)</p>
      <h2>Favourite Programming Language?</h2>
      <p>I love Java and Python. I can use those two all day :D</p>
      <h2>Why do you want to be a data analyst?</h2>
      <p>Because programming is awesome and programming for the internet is even more awesome.</p>
    </section>
    
    <footer class="content-footer">
      <p>Say hi to me on these social networks:</p>
      <ul class="social">
        <li><a class="css-is-deranged" href="https://github.com/ryan10projects">GitHub</a></li>
     
      </ul>
    
    </footer>
</body>
 </html>