/* Element selector */
h1 {
    color: red;
    font-size: 3rem;
}

p {
    color: white;
    background-color: gray;
}
/* id selector */
#div-container{
    color: blue;
    background-color: gray;
}

/* class selector */
.paragraph-class {
    color:white;
    font-family: monospace;
    background-color: purple;
}
/* universal selector */
* {
  color: white;
  background-color: black;
}
/* group selector */
#div-container, .paragraph-class, h1{
    color: white;
    background-color: purple;
    font-family: monospace;    
}