body {  
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(249,39,244,1) 35%, rgba(0,212,255,1) 100%); 
}  
h1 {  
    color: navy;  
    margin-left: 20px;  
}   
