body {  
    
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(249,39,244,1) 35%, rgba(0,212,255,1) 100%); 
    body {font-family: "Lato", sans-serif}
}  
h1 {  
  
  background-color: white;
    color: navy;  
    margin-left: 20px;  
}   


