body {  
    
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(249,39,244,1) 35%, rgba(0,212,255,1) 100%); 
    body {font-family: "Lato", sans-serif}
}  
h1 {  
  
  background-color: white;
    color: navy;  
   
}   
img {

  border: 5px solid #555;

}


div {
  width: 300px;
  border:2px solid black;
  padding: 50px;
  background-color: white;
  margin: 20px;
}
